header {
	/* background-color: #749ed255 */
}

h2 {
	background-color: rgb(204, 147, 41);
}

body {
	background-image: url("../images/mesa-panoramic-clip-reflect-x2.jpg");
	/* background-color: rgba(76, 145, 177, 0.109); */
	/* height: 500px; */
	/* background-position: center; */
	/* background-repeat: no-repeat; */
	/* background-size: cover; */
	/* position: relative; */
}

.link {
	color: rgb(204, 147, 41);
}

#aboutSec {
	color: rgb(77, 55, 15);
}

/* #imgWrapper {
	width: 50%;
} */

#headshot {
	/* z-index: 2000; */
	max-width: 228px;
	height: auto;
}

main {
	/* background-color: rgba(28, 59, 97, 0.507); */
}

#text {
	background-color: rgba(28, 59, 97, 0.507);
	/* mix-blend-mode: screen; */
}

/* .bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
} */

/* @media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
} */

/* main>.container {
	padding: 60px 15px 0;
} */

.footer {
	background-color: #5a3c19;
}

/* .footer>.container {
	padding-right: 15px;
	padding-left: 15px;
} */

/* code {
	font-size: 80%;
} */