header {
	/* background-color: #749ed255 */
}

h2 {
	background-color: rgb(204, 147, 41);
}

body {
	background-image: url("../images/mesa-panoramic-clip-2x-reflect-4K-height.jpg");
	/* background-repeat: no-repeat; */
	background-attachment: fixed;
	background-position: 5% 100%;
	/* background-size: 170rem; */
	/* background-attachment: fixed; */
	/* background-clip: content-box; */
	/* background-color: rgba(76, 145, 177, 0.747); */
	/* height: auto; */
	/* background-position-y: bottom; */
	/* background-repeat: no-repeat; */
	/* background-size: cover; */
	/* position: relative; */
}

.link {
	color: rgb(204, 147, 41);
}

#aboutSec {
	color: rgb(77, 55, 15);
}

#headshot {
	max-width: 195px;
	height: auto;
}

#text {
	background-color: rgba(28, 59, 97, 0.507);
}

.footer {
	background-color: #5a3c19;
}

.stripe {
	background-color: rgb(204, 147, 41);
}